<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngFor="let libelle of headers">{{ libelle }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-content></ng-content>
      </tbody>
      <tfoot>
        <tr>
          <th>
            <a [routerLink]='[button.route]' routerLinkActive="router-link-active">{{ button.libelle }}</a>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
