<form #prestationForm="ngForm" (ngSubmit)="process()">
  <div class="form-group">
    <label for="typePresta">Type prestation</label>
    <input type="text" class="form-control" id="typePresta" name="typePresta" aria-describedby="emailHelp" required minlength="4" [(ngModel)]="presta.typePresta">
  </div>
  <div class="form-group">
    <label for="client">Client</label>
    <input type="text" class="form-control" id="client" name="client" aria-describedby="emailHelp" required minlength="4" [(ngModel)]="presta.client">
  </div>
  <div class="form-group">
    <label for="nbJours">Nb jours</label>
    <input type="text" class="form-control" id="nbJours" name="nbJours" aria-describedby="emailHelp" required minlength="1" [(ngModel)]="presta.nbJours">
  </div>
  <div class="form-group">
    <label for="tjmHt">TJM HT</label>
    <input type="text" class="form-control" id="tjmHt" name="tjmHt" aria-describedby="emailHelp" required minlength="1" [(ngModel)]="presta.tjmHt">
  </div>
  <div class="form-group">
    <label for="tauxTva">TVA</label>
    <input type="text" class="form-control" id="tauxTva" name="tauxTva" aria-describedby="emailHelp" required minlength="4" [(ngModel)]="presta.tauxTva">
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <select class="form-control" id="state" name="state" required [(ngModel)]="presta.state">
      <option [value]="item" *ngFor="let item of states">{{ item }}</option>
    </select>
  </div>
  <input type="hidden" id="id" name="id" [(ngModel)]="presta.id">
  <button type="submit" [disabled]="prestationForm.invalid" class="btn btn-primary">Submit</button>
</form>
