<td>{{ presta.typePresta }}</td>
<td>{{ presta.client }}</td>
<td>{{ presta.nbJours }}</td>
<td>{{ presta.tjmHt | localCurrency}}</td>
<td>{{ presta | total:'HT' | localCurrency }}</td>
<td>{{ presta | total:'TTC' | localCurrency }}</td>
<td [appState]="presta.state">
  <!-- <app-select-enum [selected]="presta.state" [enum]="states"></app-select-enum> -->
  <select (change)="updateState($event)">
    <option [value]="presta.state">{{ presta.state }}</option>
    <ng-container *ngFor="let item of states">
      <option *ngIf="item !== presta.state" [value]="item">{{ item }}</option>
    </ng-container>
  </select>
  <button [value]="presta.id" (click)="$event.stopPropagation(); deletePresta($event)">X</button>
</td>
